{% load static %}
<!doctype html>
<html lang="it">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:title" content="META TITOLO" />
        <meta name="description" content="META DESCRIZIONE.">
        <meta property="og:image" content="META LOGO" />
        <title>CrazyCoin</title>
        <link rel="stylesheet" type="text/css" href='{% static "css/bootstrap/css/bootstrap.min.css" %}'/>
        <link rel="stylesheet" type="text/css" href='{% static "css/style.css" %}'/>
        <script src='{% static "js/jquery/jquery.js" %}'></script>
    </head>
    <body>

        <nav class="navbar py-3 navbar-expand-lg bg-light">
            <div class="container">
              <a class="navbar-brand" href="#">CrazyCoin</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                  {% for m in menu %}
                    <li class="nav-item">
                      <a class="nav-link {% if request.path == m.url %}active{% endif %}" aria-current="page" href="{{m.url}}">{{m.nomeMenu}}</a>
                    </li>
                  {% endfor %}
                </ul>
                <div>
                    {% if request.user.is_authenticated %}
                        <div>{{request.user}} {{request.user.coin}}</div>
                    {% else %}
                        <div class="d-flex flex-row">
                            <div class="p-2">
                                <button class="btn btn-primary">Login</button>
                            </div>
                            <div class="p-2">
                                <button class="btn btn-primary">Registrati</button>
                            </div>
                        </div>
                    {% endif %}
                </div>
              </div>
            </div>
        </nav>



        {% block content %}
        {% endblock content %}

        <script src='{% static "css/bootstrap/js/bootstrap.bundle.min.js" %}'></script>
        <!-- Da creare file function.min.js -->
        <script src='{% static "js/function.js" %}'></script>
    </body>
</html>